<br />
<h3 id="text-classes" class="sg-docs-title">Mapper</h3>

<table class="table">
  <thead>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Emil Rune</td>
      <td>Møller</td>
      <td>@emilrmoeller</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Nima</td>
      <td>Zahedi</td>
      <td>@NimaZahedi</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Sherry</td>
      <td>Azimina</td>
      <td>@SherryAzminia</td>
    </tr>
        <tr>
      <td>4</td>
      <td>Jense</td>
      <td>Svensson</td>
      <td>@JensSvensson</td>
    </tr>
  </tbody>
</table>